In [1]:
s = 'programming'
for i in s:
    print(i)

p
r
o
g
r
a
m
m
i
n
g

In [3]:
s = 'programming'
for i in s:
    print(i, end='*')

p*r*o*g*r*a*m*m*i*n*g*

In [5]:
# Use for loop in a list
programming = ['java', 'python', 'ruby', 'HTML']
for iter in programming:
    print(iter)

java
python
ruby
HTML

In [17]:
# Find the average of a list of numbers
list_number = [10, 20, 25, 40, 35]
sum = 0
for i in list_number:
    sum = sum+i
print('Sum =', sum)
print('Average =', sum/len(list_number))

Sum = 130
Average = 26.0

In [23]:
# For loop using a tuple
num = (30, 45, 50, 60, 70)
sum = 0
for i in num:
    sum = sum + i
    print(sum)

30
75
125
185
255

In [25]:
# Range Function

for i in range(1, 10):
    print(i)

1
2
3
4
5
6
7
8
9

In [27]:
# for step values

for i in range(0, 10, 2):
    print('Display values with a step size of 2: ', i)

Display values with a step size of 2:  0
Display values with a step size of 2:  2
Display values with a step size of 2:  4
Display values with a step size of 2:  6
Display values with a step size of 2:  8

In [29]:
# Program to print table of a given number
n = int(input('Enter the number:'))
for i in range(1, 11):
    mul = n*i
    print(n, '*', i, '=',mul)

Enter the number: 2

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [31]:
list2 = ['C++', 'java', 'python']
for i in range(len(list2)):
    print('Hello', list2[i])

Hello C++
Hello java
Hello python

In [39]:
# Nested For loop
companies = ['Google', 'Microsoft', 'Uber', 'PWC']
for i in companies:
    print('We will display each letter of ' +i)
    for letter in i:
        print(letter)

We will display each letter of Google
G
o
o
g
l
e
We will display each letter of Microsoft
M
i
c
r
o
s
o
f
t
We will display each letter of Uber
U
b
e
r
We will display each letter of PWC
P
W
C

In [43]:
# For loop with else clause
for i in range(0, 10, 3):
    print(i)
else:
    print('The loop has completed execution')

0
3
6
9
The loop has completed execution

In [54]:
# Break
for i in range(1, 10):
    if (i==6):
        break
    print(i)

1
2
3
4
5

In [56]:
# Continue
for i in range(1, 10):
    if (i==6):
        continue
    print(i)

1
2
3
4
5
7
8
9

In [60]:
# Program to display the total goals a player has scored

player_name = 'Carmelo'
goals = {'Edison': 14, 'Bennett': 12, 'Carlos':10, 'Carmelo': 7}
for player in goals:
    if player==player_name:
        print(goals[player])
        break
else: 
    print('No player with that name found')

7

In [62]:
# Cube of number

num = [2, 5, 7, 8, 4, 6]
cube = []
for i in num:
    cube.append(i**3)
    print(cube)

[8]
[8, 125]
[8, 125, 343]
[8, 125, 343, 512]
[8, 125, 343, 512, 64]
[8, 125, 343, 512, 64, 216]

In [68]:
# Pattern printing
n = int(input('Enter the number of rows: '))
for i in range(0, n):
    for j in range(0, i+1):
        print('*', end=' ')
    print()

Enter the number of rows:  6

*
* *
* * *
* * * *
* * * * *
* * * * * *