In [7]:
# Built-in functions
#abs
a = abs(10.75)
a

10.75

In [5]:
b = abs(-10.75)
b

10.75

In [9]:
# Len

list1 = ['N', 'I', 'G', 'E', 'R', 'I', 'A']
X = len(list1)
X

7

In [13]:
# all
my_list = [0, 2, 0]
X = all(my_list)
X

False

In [15]:
# sum
s = sum([10, 70, 35])
s1 = sum((1,4,5))
print(s)
print(s1)

115
10

In [19]:
# max and min work for lists, tuples, and dictionaries
m1 = max(7, 10, 3, 45, 23, 44)
print(m1)

45

In [21]:
m2 = max({47, 10, 53, 45, 23, 44})
print(m2)

53

In [23]:
m3 = min({47, 10, 53, 45, 23, 44})
print(m3)

10

In [25]:
# iter statement
mylist = iter(['N', 'I', 'G', 'E', 'R', 'I', 'A'])
X = next(mylist)
print(X)

N

In [27]:
X = next(mylist)
print(X)

I

In [29]:
X = next(mylist)
print(X)

G

In [31]:
# pow()

x1 = pow(3, 3)
x2 = pow(2, 4)
print(x1)
print(x2)

27
16

In [33]:
# range()
x = range(6)
for n in x:
    print(n)

0
1
2
3
4
5

In [35]:
x = range(40, 50, 2)
for n in x:
    print(n)

40
42
44
46
48

In [41]:
# round()
x = round(8.637233, 2)
print(x)

8.64

In [43]:
# sorted
a = ['N', 'I', 'G', 'E', 'R', 'I', 'A','N']
x = sorted(a)
print(x)

['A', 'E', 'G', 'I', 'I', 'N', 'N', 'R']

In [45]:
a = ['N', 'I', 'G', 'E', 'R', 'I', 'A','N']
x = sorted(a, reverse = True)
print(x)

['R', 'N', 'N', 'I', 'I', 'G', 'E', 'A']

In [47]:
a = [2, 4, 34, 556, 43]
x = sorted(a)
print(x)

[2, 4, 34, 43, 556]

In [49]:
x = sorted(a, reverse = True)
print(x)

[556, 43, 34, 4, 2]

In [55]:
# slice
a = ('p', 'r', 'o', 'g', 'r', 'a', 'm', 'm', 'i', 'n', 'g')
x = slice(7)
print(a[x])

('p', 'r', 'o', 'g', 'r', 'a', 'm')

In [57]:
# user-defined functions
def func1():
    print('Hello World')
func1()

Hello World

In [63]:
def hello():
    name = str(input('Enter your first name: '))
    print('Hello ' + str(name) + ',')

In [65]:
hello()

Enter your first name:  Lilian

Hello Lilian,

In [67]:
def ft_to_cm(ft):
    centimeter = ft * 30.48
    return centimeter

In [75]:
ft_to_cm(5.2)

158.496

In [80]:
def add(x, y):
    sum = x + y
    print(sum)

In [82]:
add(40, 60)

100

In [84]:
add(-20, 40)

20

In [90]:
def multiply(x, y):
    product = x * y
    print(product)

In [92]:
multiply(3, 7)

21

In [94]:
def absolute(x):
    if x>= 0:
        return x
    else:
        return -x

In [96]:
absolute(23.9383)

23.9383

In [98]:
print(absolute(-23.898))

23.898

In [108]:
def factorial(x):
    if x == 0:
        return 1
    else:
        return x * factorial (x-1)

In [110]:
factorial(5)

120

In [116]:
# default argument
def welcome(name = 'Lilian'):
    print('Hello', name)

In [114]:
welcome()

Hello Lilian

In [118]:
welcome('Raji')

Hello Raji

In [138]:
# multiple arguments
def message(name1, name2, name3):
    print("Hello", name1, ", please tell ", name2, "that ", name3, "is waiting!")

In [140]:
message('Lilian', 'Rachel', 'Goody')

Hello Lilian , please tell  Rachel that  Goody is waiting!

In [142]:
# Scope
def func3():
    z = 7
    print(z)
func3()

7

In [144]:
z

NameError: name 'z' is not defined

In [148]:
#to make z a global variable and not limited to the defined function
z = 7
def func4():

    print(z)
func4()

7

In [150]:
z

7

In [152]:
# you cannot change a global value from a local reference (user-defined function)
z = 7
def func5():
    z = z + 1
    print(z)
func5()

UnboundLocalError: cannot access local variable 'z' where it is not associated with a value

In [154]:
# to fix the global value problem
z = 7
def func6():
    global z
    z = z + 1
    print(z)
func6()

8

In [160]:
def welcome(*names):
    print('Hello', names[0], ',', names[1], 'and ', names[2])

In [162]:
welcome('Bill', 'Milly', 'Dilly')

Hello Bill , Milly and  Dilly

In [166]:
# define areas of shapes
pi = 3.14
def CircleArea(radius):
    return pi*radius * radius

def SphereArea(radius):
    return 4 * pi * radius * radius

def main():
    print('Area of Circle with radius 15: ', CircleArea(15))
    print('Area of Sphere with radius 10: ', SphereArea(10))
main()

Area of Circle with radius 15:  706.5
Area of Sphere with radius 10:  1256.0

In [168]:
tuple([1, 2, 3])

(1, 2, 3)

In [170]:
x = 0
while x < 5:
    x += 1
    print(x)

1
2
3
4
5

In [172]:
# range()
x = range(6)
for n in x:
    print(n)

0
1
2
3
4
5

In [174]:
print("Hello" + "World")

HelloWorld